<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Page confirmation</h1>
    {% if user.is_authenticated %}
    <p>Your name is: {{user.username}}. Connectez vous à votre espace <a href="{% url 'chat:mapage' user.pk%}">Ici</a></p>
    {% else %}
    <p>Your are not logged <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'register' %}">Sign in</a></p>
    {% endif %}
</body>
</html>