<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Page utilisateur {{user.pk}}</h2>
    <h3><a href="{% url 'logout' %}">Log out</a></h3>
    <h1>Liste des Amis</h1>
    <ul>
        {% for k in listeAmis %}
            {% if user.username != k.username %}
            <li>{{k.username}}   <span id="{{k.id}}" name="{{k.username}}" style="color: cornflowerblue;">appelvideo</span></li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>