{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <title>Document</title>
</head>

<body>
    <h2>Page utilisateur {{user.pk}}</h2>
    <h3><a href="{% url 'logout' %}">Log out</a></h3>
    <a href="{% url 'anime' user.pk %}">Assistance Leos</a>
    <h1>Liste des Amis</h1>
    <ul>
        {% for k in listeAmis %}
            {% if user.username != k.username %}
            <li>{{k.username}}   <a id="{{k.id}}" href="{% url 'chat:room' k.id %}" name="{{k.username}}" style="color: cornflowerblue;">appelvideo</a></li>
            {% endif %}
        {% endfor %}
    </ul>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.6.2/simplepeer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

</html>
